---
version: '3.8'
services:
  traefik:
    container_name: 'traefik'
    image: 'docker.io/traefik:3'
    restart: 'unless-stopped'
    command:
      - --global.checkNewVersion=true
      - --global.sendAnonymousUsage=false
      - --api=true
      - --api.insecure=false
      - --api.dashboard=true
      - --serversTransport.insecureSkipVerify=true
      - --log=true
      - --log.level=ERROR
      - --accessLog=true
      - --accessLog.filePath=/traefik.log
      - --accessLog.bufferingSize=100
      - --accessLog.filters.statusCodes=400-499
      - --providers.file.directory=/rules
      - --providers.file.watch=true
      - --providers.docker=true
      - --providers.docker.endpoint=unix:///var/run/docker.sock
      - --providers.docker.exposedByDefault=false
      - --providers.docker.network=proxy
      - --entryPoints.http.address=:80
      - --entrypoints.http.http.redirections.entryPoint.to=https
      - --entrypoints.http.http.redirections.entryPoint.scheme=https
      - --entryPoints.https.address=:443
      - --entrypoints.https.http3
      - --entrypoints.https.http3.advertisedPort=443
      - --entrypoints.https.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/12,172.64.0.0/13,131.0.72.0/22
      - --entrypoints.https.http.middlewares=chain-authelia@file
      - --entrypoints.https.http.tls.certresolver=dns-cloudflare
      - --entrypoints.https.http.tls.domains[0].main=${DOMAIN}
      - --entrypoints.https.http.tls.domains[0].sans=*.${DOMAIN}
      - --certificatesResolvers.dns-cloudflare.acme.email=${CLOUDFLARE_EMAIL}
      - --certificatesResolvers.dns-cloudflare.acme.storage=/acme.json
      - --certificatesresolvers.dns-cloudflare.acme.dnschallenge=true
      - --certificatesResolvers.dns-cloudflare.acme.dnsChallenge.provider=cloudflare
      - --certificatesResolvers.dns-cloudflare.acme.dnsChallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      - --certificatesResolvers.dns-cloudflare.acme.dnsChallenge.delayBeforeCheck=60
    networks:
      - ${DOCKERNETWORK}
    security_opt:
      - '${SECURITYOPS}:${SECURITYOPSSET}'
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: udp
        mode: host
    volumes:
      - '${APPFOLDER}/traefik/rules:/rules'
      - '${APPFOLDER}/traefik/certs:/tmp/certs'
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      - '${APPFOLDER}/traefik/acme/acme.json:/acme.json'
      - '${APPFOLDER}/traefik/traefik.log:/traefik.log'
    environment:
      - 'PGID=${ID}'
      - 'PUID=${ID}'
      - 'TZ=${TZ}'
      - 'CLOUDFLARE_EMAIL=${CLOUDFLARE_EMAIL}'
      - 'CLOUDFLARE_API_KEY=${CLOUDFLARE_API_KEY}'
    labels:
      - 'dockupdater.enable=true'
      - 'traefik.enable=true'
      - 'traefik.http.routers.traefik-rtr.entrypoints=https'
      - 'traefik.http.routers.traefik-rtr.rule=Host(`traefik.${DOMAIN}`)'
      - 'traefik.http.routers.traefik-rtr.tls=true'
      - 'traefik.http.routers.traefik-rtr.tls.certresolver=dns-cloudflare'
      - 'traefik.http.routers.traefik-rtr.middlewares=chain-authelia@file'
      - 'traefik.http.routers.traefik-rtr.service=api@internal'
  cf-companion:
    container_name: 'cf-companion'
    image: 'ghcr.io/tiredofit/docker-traefik-cloudflare-companion:latest'
    depends_on:
      - traefik
    networks:
      - ${DOCKERNETWORK}
    security_opt:
      - '${SECURITYOPS}:${SECURITYOPSSET}'
    restart: 'always'
    labels:
      - 'dockupdater.enable=true'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
    environment:
      - 'TIMEZONE=${TZ}'
      - 'TRAEFIK_VERSION=2'
      - 'CF_EMAIL=${CLOUDFLARE_EMAIL}'
      - 'CF_TOKEN=${CLOUDFLARE_API_KEY}'
      - 'TARGET_DOMAIN=${DOMAIN}'
      - 'DOMAIN1=${DOMAIN}'
      - 'DOMAIN1_ZONE_ID=${DOMAIN1_ZONE_ID}'
      - 'DOMAIN1_PROXIED=TRUE'
      - 'DEFAULT_TTL=1'
      - 'REFRESH_ENTRIES=TRUE'
      - 'DOCKER_ENTRYPOINT=unix://var/run/docker.sock'
      - 'DOCKER_SWARM_MODE=FALSE'
  traefik-error-pages:
    container_name: 'traefik-error-pages'
    image: 'ghcr.io/tarampampam/error-pages:latest'
    restart: 'unless-stopped'
    networks:
      - ${DOCKERNETWORK}
    environment:
      - 'PGID=${ID}'
      - 'PUID=${ID}'
      - 'TZ=${TZ}'
      - 'TEMPLATE_NAME=${TEMPLATE_NAME}'
    labels:
      - 'traefik.enable=true'
      - 'dockupdater.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.routers.traefik-error-pages-rtr.entrypoints=https'
      - 'traefik.http.routers.traefik-error-pages-rtr.rule=HostRegexp(`{host:.+}`)'
      - 'traefik.http.routers.traefik-error-pages-rtr.priority=10'
      - 'traefik.http.routers.traefik-error-pages-rtr.middlewares=traefik-error-pages'
      - 'traefik.http.routers.traefik-error-pages-rtr.middlewares=chain-no-auth@file'
      - 'traefik.http.routers.traefik-error-pages-rtr.service=traefik-error-pages-svc'
      - 'traefik.http.middlewares.traefik-error-pages.errors.service=traefik-error-pages-svc'
      - 'traefik.http.middlewares.traefik-error-pages.errors.status=400,402,404-599'
      - 'traefik.http.middlewares.traefik-error-pages.errors.query=/{status}.html'
      - 'traefik.http.services.traefik-error-pages-svc.loadbalancer.server.port=8080'
  authelia:
    container_name: 'authelia'
    image: 'docker.io/authelia/authelia:latest'
    restart: 'always'
    depends_on:
      - traefik
    networks:
      - ${DOCKERNETWORK}
    volumes:
      - '${APPFOLDER}/authelia:/config'
    environment:
      - 'PGID=${ID}'
      - 'PUID=${ID}'
      - 'TZ=${TZ}'
    labels:
      - 'traefik.enable=true'
      - 'dockupdater.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.routers.authelia-rtr.entrypoints=https'
      - 'traefik.http.routers.authelia-rtr.rule=Host(`authelia.${DOMAIN}`)'
      - 'traefik.http.routers.authelia-rtr.tls=true'
      - 'traefik.http.routers.authelia-rtr.service=authelia-svc'
      - 'traefik.http.services.authelia-svc.loadbalancer.server.port=9091'
networks:
  proxy:
    driver: bridge
    external: true
