---
version: '3.3'
services:
  traefik:
    container_name: 'traefik'
    image: 'traefik:latest'
    restart: 'unless-stopped'
    command:
      - --global.checkNewVersion=true
      - --global.sendAnonymousUsage=false
      - --entryPoints.http.address=:80
      - --entryPoints.https.address=:443
      - --entrypoints.https.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/12,172.64.0.0/13,131.0.72.0/22
      - --entryPoints.traefik.address=:8080
      - --api=true
      - --api.insecure=false
      - --api.dashboard=true
      - --serversTransport.insecureSkipVerify=true
      - --log=true
      - --log.level=ERROR
      - --accessLog=true
      - --accessLog.filePath=/traefik.log
      - --accessLog.bufferingSize=100
      - --accessLog.filters.statusCodes=400-499
      - --providers.docker=true
      - --providers.docker.endpoint=unix:///var/run/docker.sock
      - --providers.docker.exposedByDefault=false
      - --entrypoints.https.http.middlewares=chain-authelia@file
      - --entrypoints.https.http.tls.certresolver=dns-cloudflare
      - --entrypoints.https.http.tls.domains[0].main=example.com
      - --entrypoints.https.http.tls.domains[0].sans=*.example.com
      - --providers.docker.network=proxy
      - --providers.docker.swarmMode=false
      - --providers.file.directory=/rules
      - --providers.file.watch=true
      - --certificatesResolvers.dns-cloudflare.acme.caServer=https://acme-staging-v02.api.letsencrypt.org/directory
      - --certificatesResolvers.dns-cloudflare.acme.email=example-CF-EMAIL
      - --certificatesResolvers.dns-cloudflare.acme.storage=/acme.json
      - --certificatesResolvers.dns-cloudflare.acme.dnsChallenge.provider=cloudflare
      - --certificatesResolvers.dns-cloudflare.acme.dnsChallenge.resolvers=1.1.1.1:53,1.0.0.1:53
      - --certificatesResolvers.dns-cloudflare.acme.dnsChallenge.delayBeforeCheck=60
    networks:
      - proxy
    security_opt:
      - 'no-new-privileges:true'
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 8080
        published: 8099
        protocol: tcp
        mode: host
    volumes:
      - '/opt/appdata/traefik/rules:/rules'
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      - '/opt/appdata/traefik/acme/acme.json:/acme.json'
      - '/opt/appdata/traefik/traefik.log:/traefik.log'
    environment:
      - 'PGID=1000'
      - 'PUID=1000'
      - 'TZ=UTC'
      - 'CLOUDFLARE_EMAIL=example-CF-EMAIL'
      - 'CLOUDFLARE_API_KEY=example-CF-API-KEY'
    labels:
      - 'dockupdater.enable=true'
      - 'traefik.enable=true'
      - 'traefik.http.routers.http-catchall.entrypoints=http'
      - 'traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)'
      - 'traefik.http.routers.http-catchall.middlewares=redirect-to-https'
      - 'traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https'
      - 'traefik.http.routers.traefik-rtr.entrypoints=https'
      - 'traefik.http.routers.traefik-rtr.rule=HostHeader(`traefik.example.com`)'
      - 'traefik.http.routers.traefik-rtr.service=api@internal'
      - 'traefik.http.routers.traefik-rtr.middlewares=chain-authelia@file'
  cf-companion:
    container_name: 'cf-companion'
    image: 'tiredofit/traefik-cloudflare-companion:latest'
    depends_on:
      - traefik
    networks:
      - proxy
    security_opt:
      - 'no-new-privileges:true'
    restart: 'always'
    labels:
      - 'dockupdater.enable=true'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
    environment:
      - 'TIMEZONE=UTC'
      - 'TRAEFIK_VERSION=2'
      - 'CF_EMAIL=example-CF-EMAIL'
      - 'CF_TOKEN=example-CF-API-KEY'
      - 'TARGET_DOMAIN=example.com'
      - 'DOMAIN1=example.com'
      - 'DOMAIN1_ZONE_ID=example-CF-ZONE_ID'
      - 'DOMAIN1_PROXIED=TRUE'
      - 'DEFAULT_TTL=1'
      - 'REFRESH_ENTRIES=TRUE'
      - 'DOCKER_ENTRYPOINT=unix://var/run/docker.sock'
      - 'SWARM_MODE=FALSE'
    labels:
      - 'dockupdater.enable=true'
  traefik-error-pages:
    container_name: 'traefik-error-pages'
    image: 'guillaumebriday/traefik-custom-error-pages'
    restart: 'unless-stopped'
    networks:
      - proxy
    environment:
      - 'PGID=1000'
      - 'PUID=1000'
      - 'TZ=UTC'
    labels:
      - 'traefik.enable=true'
      - 'dockupdater.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.routers.traefik-error-pages-rtr.entrypoints=http'
      - 'traefik.http.routers.traefik-error-pages-rtr.rule=HostRegexp(`{host:.+}`)'
      - 'traefik.http.routers.traefik-error-pages-rtr.priority=1'
      - 'traefik.http.routers.traefik-error-pages-rtr.middlewares=traefik-error-pages'
      - 'traefik.http.routers.traefik-error-pages-rtr.middlewares=chain-authelia@file'
      - 'traefik.http.routers.traefik-error-pages-rtr.service=traefik-error-pages-svc'
      - 'traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https'
      - 'traefik.http.middlewares.traefik-error-pages.errors.service=traefik-error-pages-svc'
      - 'traefik.http.middlewares.traefik-error-pages.errors.status=401,403,404,429,500,502,503'
      - 'traefik.http.middlewares.traefik-error-pages.errors.query=/{status}.html'
      - 'traefik.http.services.traefik-error-pages-svc.loadbalancer.server.port=80'
  authelia:
    container_name: 'authelia'
    image: 'authelia/authelia:latest'
    restart: 'always'
    depends_on:
      - traefik
    networks:
      - proxy
    volumes:
      - '/opt/appdata/authelia:/config'
    environment:
      - 'PGID=1000'
      - 'PUID=1000'
      - 'TZ=UTC'
    labels:
      - 'traefik.enable=true'
      - 'dockupdater.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.routers.authelia-rtr.entrypoints=https'
      - 'traefik.http.routers.authelia-rtr.rule=Host(`authelia.example.com`)'
      - 'traefik.http.routers.authelia-rtr.tls=true'
      - 'traefik.http.routers.authelia-rtr.service=authelia-svc'
      - 'traefik.http.services.authelia-svc.loadbalancer.server.port=9091'
networks:
  proxy:
    driver: bridge
    external: true