.github/*
.all-contributorsrc
/wiki/Dockerfile
LICENSE
README.md
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.rb
.ideas/*
.git/*
.cache/*
get_pull_request_title.*
backup.sh
wgetfile.sh
.gitattributes