mkdocs-material>=8.3.0
mkdocs-minify-plugin==0.5.0
mkdocs-redirects==1.0.4
mkdocs-macros-plugin==0.7.0
mkdocs-awesome-pages-plugin==2.7.0
mkdocs-git-revision-date-localized-plugin==1.0.1
mkdocs-render-swagger-plugin
mkdocs-mermaid2-plugin
jinja2>=3.0.2
markdown>=3.2
mkdocs>=1.3.0
mkdocs-material-extensions>=1.0.3
pygments>=2.12
pymdown-extensions>=9.4
