name: Publish Release
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - name: Generate Token
      uses: actions/create-github-app-token@v2
      id: app-token
      with:
         app-id: "${{ secrets.BOT_APP_ID }}"
         private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

    - name: Check out code
      uses: actions/checkout@v5.0.0
      with:
        token: "${{ steps.app-token.outputs.token }}"
        fetch-depth: '0'

    - name: Build Changelog
      id: github_release
      uses: mikepenz/release-changelog-builder-action@v6
      with:
         configuration: "config.json"
      env:
         GITHUB_TOKEN: "${{ steps.app-token.outputs.token }}"

    - name: Create Release
      uses: actions/create-release@v1
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}
        body: ${{steps.github_release.outputs.changelog}}
      env:
        GITHUB_TOKEN: "${{ steps.app-token.outputs.token }}"

    - name: Send notification
      if: ${{ success() }}
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_RLS }}
        CHANGES: ${{ steps.github_release.outputs.changelog }}
        COLOR: 3066993
      shell: bash
      run: |
        cp -r "./wiki/overrides/img/profile.png" image.png
        VERSION=$(curl -sX GET "https://api.github.com/repos/dockserver/dockserver/releases/latest" | jq --raw-output '.tag_name')
        export DOCKER_CLI_EXPERIMENTAL=enabled
        json='{
          "username": "dockserver Release-Bot",
          "avatar_url": "https://raw.githubusercontent.com/dockserver/dockserver/master/wiki/overrides/img/profile.png",
          "embeds": [
            {
            "author": {
              "name": "'${{ github.repository_owner }}'"
            },
            "title": " New Release is Public !",
            "url": "https://github.com/dockserver/dockserver/releases/tag/'${VERSION}'",
            "color": '${COLOR}',
            "fields": [
              {
                "name": "Release Info",
                "value": "We published a new release for '${{ github.repository }}'"
              },
              {
                "name": "Version",
                "value": "new Version public : `'${VERSION}'`"
              },
              {
                "name": "Changelog on dockserver.github.io/dockserver",
                "value": "Changelog : (https://dockserver.github.io/dockserver/install/changelog.html)"
              },
              {
                "name": "Thanks!",
                "value": "Thanks! to all Contributors"
              }
            ],
            "footer": {
              "text": "Powered by GitHub Actions",
              "icon_url": "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
             },
             "timestamp": "'$(date -u +'%FT%T.%3NZ')'",
             "image": {
               "url": "attachment://image.png"
             }
           }
          ]
        }'
        curl -fsSL --retry 5 -H "Content-Type: multipart/form-data" -F "file=@image.png" -F "payload_json=${json}" "${DISCORD_WEBHOOK}" > /dev/null
