---
name: Run CLI
on:
  push:
    branches:
      - master
    paths:
      - '.installer/**'
      - 'apps/**'
      - 'preinstall/**'
      - 'traefik/**'
      - 'scripts/**'
  workflow_dispatch:
  workflow_run:
    workflows: ["COPY index"]
    types:
      - completed

jobs:
  deploy:
    name: Deploy Dockserver Wiki on GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: '0'
          token: ${{ secrets.CR_PAT }}

      - name: Set up Python
        uses: actions/setup-python@v2.3.2
        with:
          python-version: 3.

      - run: python3 -m pip install --upgrade pip
      - run: python3 -m pip install --upgrade --force-reinstall -r wiki/requirements.txt
      - run: mkdocs gh-deploy --config-file wiki/mkdocs.yml --remote-branch wiki

      - name: Send notification
        if: ${{ success() }}
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          COLOR: 3066993
        shell: bash
        run: |
          cp -r "./wiki/overrides/img/profile.png" image.png
          export DOCKER_CLI_EXPERIMENTAL=enabled
          json='{
            "username": "dockserver Events",
            "avatar_url": "https://raw.githubusercontent.com/dockserver/dockserver/master/wiki/overrides/img/profile.png",            "embeds": [
              {
              "author": {
                "name": "'${{ github.repository_owner }}'"
              },
              "title": " Some changes are pushed !",
              "url": "https://github.com/dockserver/dockserver/commits/master",
              "color": '${COLOR}',
              "fields": [
                {
                  "name": "Release Info",
                  "value": "some new Comment are pushed"
                },
                {
                  "name": "Thanks!",
                  "value": "Thanks! to all Contributors"
                }
              ],
              "footer": {
                "text": "Powered by GitHub Actions",
                "icon_url": "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
               },
               "timestamp": "'$(date -u +'%FT%T.%3NZ')'",
               "image": {
                 "url": "attachment://image.png"
               }
             }
            ]
          }'
          curl -fsSL --retry 5 -H "Content-Type: multipart/form-data" -F "file=@image.png" -F "payload_json=${json}" "${DISCORD_WEBHOOK}" > /dev/null

  crlf:
    name: Check Mixed Line Endings action
    if: ${{ success() }}
    needs: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.CR_PAT }}
        fetch-depth: 0

    - name: Run CRLF changes
      run: |
        echo "Check Mixed Endings"
        if test -f "./.github/crlf.sh"; then
           bash "./.github/crlf.sh"
        fi

  repack:
    name: Run Repack
    if: ${{ success() }}
    needs: [ deploy, crlf ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.CR_PAT }}
        fetch-depth: 0
    - name: Run Repack
      run: |
        echo "run repack"
        if test -f "./.github/repack.sh"; then
           bash "./.github/repack.sh"
        fi
