name: New Release

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["upstream"]
    types:
      - completed

jobs:
  build:
    name: Generate new tag
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.42.0
        with:
          body: ${{steps.github_release.outputs.changelog}}
        env:
          GITHUB_TOKEN: ${{ secrets.CR_PAT }}
          WITH_V: true
          DEFAULT_BUMP: fix
          RELEASE_BRANCHES: master
          VERBOSE: true
